<div class="row mt-5">
    <div class="col">

        <h6>
            List of users in the domaine
        </h6>

        <div *ngIf=" (sysUsers$ | async)?.length>0;else noUsers">

        
         <table class="table table-sm">

            <tbody>

                <tr *ngFor="let user of sysUsers$ | async">
                      
                    <td>{{user.username}}</td> 

               </tr>
               
            </tbody>
        </table>

       </div>

       <ng-template #noUsers>
        <p>Aucun utilisateur trouvé</p>
       </ng-template>


      


        

    </div>
</div>