
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
       <a class="navbar-brand" href="home">API 2023</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 
      
         </ul>

         <div class="row me-5" *ngIf='authenticated'>
       
         </div>
         <button class="btn btn-primary my-2 my-sm-0" (click)="attemptLogout()" *ngIf='authenticated'>Déconnexion</button>

 
       </div>
     </div>
   </nav>
  <div class="container">





       <div class="row mt-5">

        <div class="col-md-6 mx-auto  p-3 border rounded shadow-ms ">
           
               
              <div class="row mt-2">
               <div class="col">
                    <h3>Bienvenue</h3>
                    <h6> {{user?.region}} </h6>

               </div>

               <div class="col">

                <div class="row">
                  <div class="col">
                    
                    <a routerLink="/user">
                      <span class="material-icons-outlined" style="padding: 4px;" >person</span>
                      {{user?.username}}  
                    
                    </a>
                         </div>
                  
                </div>

              </div>
              
              
              </div>





            </div>

       </div>




       <div class="row mt-5">

        <div class="col-md-6 mx-auto  p-3 border rounded shadow-ms ">
          
          <p>Nouveau project</p>

          <div class="form-group">


            <form ngForm #form="ngForm">

            

            <textarea name="commandeToSend"  cols="30" rows="5" class="form-control"
             ngModel #commande="ngModel"
             required>

            </textarea>


           </form>

            <button class="btn btn-primary mt-2" (click)="displayCommande(form)"   [disabled]="
            commande.value=='' ||
            (commande.errors?.['required'])">Enregister</button>
             
            
           <div class="row mt-2">
            
            <div class="col">

              <div *ngIf="hasResponse">

                <div class="alert alert-success" role="alert">
                  Projet cree avec <a href="#" class="alert-link">{{response}}</a>. Give it a click if you like.
                </div>                    
                  
  
               </div>

               <div *ngIf="hasError" class="alert alert-danger">

                <p>{{error}}</p>

             </div>




               
            </div>
            
           </div>


          </div>
        
        </div>
          
      </div>




  </div>



